pkgbase = yeet
	pkgdesc = Yeet daemon and associated tools
	pkgver = 0.1.0
	pkgrel = 1
	url = https://yeet.cx/
	install = yeet.install
	arch = x86_64
	arch = aarch64
	license = BSD3
	source_x86_64 = https://kmux.xyz/archlinux/os/x86_64/stable/yeet-0.1.0-1-x86_64.pkg.tar.zst
	source_x86_64 = https://kmux.xyz/archlinux/os/x86_64/stable/yeet-0.1.0-1-x86_64.pkg.tar.zst.sig
	sha256sums_x86_64 = 94f5563401ef519c1b2a094c4271cf71f07028d1466b25d83d1e8526b899b01a
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://kmux.xyz/archlinux/os/aarch64/stable/yeet-0.1.0-1-aarch64.pkg.tar.zst
	source_aarch64 = https://kmux.xyz/archlinux/os/aarch64/stable/yeet-0.1.0-1-aarch64.pkg.tar.zst.sig
	sha256sums_aarch64 = 4bcb35c2ab58c98ae076fada605343a000f42f2d767a89b4fa92b6f4e4601ab4
	sha256sums_aarch64 = SKIP

pkgname = yeet
